.ProductDetails {
	display: flex;

	height: 70vh;
	padding: 5vh 10vw 5vh 4vw;
	::-webkit-scrollbar {
		width: 0px;
	}
	.Imgs {
		width: 10%;
		// height: 100%;
		margin-right: 2%;
		overflow: scroll;
		height: 595px;
		div {
			width: 100%;
			// height: 10%;
		}
		img {
			width: 100%;
			cursor: pointer;
		}
	}
	.BigImg {
		width: 610px;
		height: 511px;
		margin-right: 4%;
		margin-top: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			height: 100%;
		}
	}
	.Text {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 595px;
	}
	.AttrName {
		padding-top: 24px;
		padding-bottom: 8px;
	}
	.AttributeButtonText {
		width: 63px;
		height: 45px;
	}
	.AttributeButtonsColor {
		width: 24px;
		height: 24px;
	}
}
